<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://omnipotent.net/jquery.sparkline/2.1/jquery.sparkline.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<h1>FVG Strategy 查詢</h1>
<div class="col">
    <form action="#" th:action="@{/fvg/query}" method="get" th:object="${result}">
        <input type="date" th:field="*{queryDate}"/>
        <input type="date" th:field="*{endDate}"/>
        <button type="submit">查詢</button>
    </form>

</div>
<form action="#" th:action="@{/fvg/hold}" method="get" th:object="${result}">

    <button type="submit">取得持有標的</button>
    <label><input type="radio" name="TWE" value="twe" th:field="*{type}"/>台股</label>
    <label><input type="radio" name="US" value="us" th:field="*{type}"/>美股</label>
</form>
<div class="col">
</div>
<div class="col-lg-10"></div>
<div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"> 日期</th>
            <th scope="col"> 線型</th>
            <th scope="col"> 代號</th>
            <th scope="col"> 名稱</th>
            <th scope="col"> 產業</th>
            <th scope="col"> 近日收盤價</th>
            <th scope="col"> 近日漲幅％</th>
            <th scope="col"> 最大漲幅日期</th>
            <th scope="col"> 最大漲幅％</th>
            <th scope="col"> 最大跌幅日期</th>
            <th scope="col"> 最大跌幅％</th>
            <th scope="col"> Ma排序</th>
            <th scope="col"> BayesianTrend</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${fvgs.empty}">
            <td colspan="2"> 無資料</td>
        </tr>
        <tr th:each="fvg : ${fvgs}">

            <td th:text="${#temporals.format(fvg.tradeDate, 'yyyy-MM-dd')}"></td>
            <td>
                <span class="sparkline"
                      th:attr="data-values=${fvg.closePrices}"></span>
            </td>
            <td th:text="${fvg.id}"></td>
            <td th:text="${fvg.name}"></td>
            <td th:text="${fvg.category}"></td>
            <td th:text="${#numbers.formatDecimal(fvg.latestQuote.close ,0,2)}"></td>
            <td th:text="${#numbers.formatDecimal(fvg.latestProfit * 100,1,1)+'%'}"
                th:style="${fvg.latestProfit gt 0} ? 'color:red;':'color:green;'"></td>
            <td th:text="${#temporals.format(fvg.highestQuote.tradeDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#numbers.formatDecimal(fvg.highestProfit * 100,1,1)+'%'}"
                th:style="'color:red;'"></td>
            <td th:text="${#temporals.format(fvg.lowestQuote.tradeDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#numbers.formatDecimal(fvg.lowestProfit * 100,1,1)+'%'}"
                th:style="'color:green;'"></td>
            <td th:text="${fvg.maSorting}"
                th:style="${#strings.contains(fvg.maSorting,'ma5>ma10>ma20')} ? 'color:red;':
                (${#strings.contains(fvg.maSorting,'ma5>ma10')} ? 'color:green;':'')"></td>

            <td th:text="${#numbers.formatDecimal(fvg.bayesianTrend,1,2)}"
                th:style="${fvg.bayesianTrend gt 0} ? 'color:red;':'color:green;'"></td>

            <!--            ${#strings.contains(fvg.maSorting,'ma5>ma20')} ? 'color:green;':-->
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('.sparkline').each(function() {
            var values = $(this).data('values');
            $(this).sparkline(values);
        });
    });
</script>
</body>
</html>