<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div container text-center>
    <h1>美股</h1>
    <div class="col">
        <form action="#" th:action="@{/us}" method="get" th:object="${result}">
            <input type="date" th:field="*{queryDate}"/>
            <button type="submit">更新狀態</button>
        </form>
        <form action="#" th:action="@{/us/report}" method="get" th:object="${result}">
            <input type="date" th:field="*{queryDate}"/>
            <button type="submit">產生報表</button>
        </form>
    </div>
    <div class="col">
    </div>
    <div class="col-lg-10"></div>
</div>


<div class="container text-center">

    <div class="row">
        <div class="col">美股 : </div>
        <div class="col" th:text="${result.usSymbolCnt}"/>
        <div class="col">/</div>
        <div class="col" th:text="${result.usSymbolSize}"/>
        <div class="col-lg-9" th:style="'text-align: right;'">P/MA低於1顯示橘色，低於0.8顯示紅色</div>

    </div>
    <div class="row">
        <div class="col" th:text="${result.msg}"/>
    </div>

</div>
<table class="table table-dark">

    <thead>
    <tr>
        <th scope="col"> 日期</th>
        <th scope="col"> 代號</th>
        <th scope="col"> 名稱</th>
        <th scope="col"> 收盤價</th>
        <th scope="col"> MA120</th>
        <th scope="col"> P/MA</th>
        <th scope="col"> RSI6(20以下)</th>
        <th scope="col"> RSI24</th>
        <th scope="col"> RSI6(週)</th>
        <th scope="col"> 開盤價</th>
        <th scope="col"> 最高價</th>
        <th scope="col"> 最低價</th>
        <th scope="col"> 成交量</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${quotes.empty}">
        <td colspan="2"> 無資料</td>
    </tr>
    <tr th:each="quote : ${quotes}">
        <td th:text="${#temporals.format(quote.tradeDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${quote.symbol}"></td>
        <td th:text="${quote.name}"></td>
        <td th:text="${quote.close}" ></td>
        <td th:text="${#numbers.formatDecimal(quote.ma120,0,2)}"></td>
        <td th:text="${#numbers.formatDecimal(quote.close/quote.ma120,1,2)}" th:style="${quote.close/quote.ma120 lt 1} ? (${quote.close/quote.ma120 lt 0.8 }? 'color:red;': 'color:orange;') : ''"></td>
        <td th:text="${#numbers.formatDecimal(quote.rsi5,0,2)}"></td>
        <td th:text="${#numbers.formatDecimal(quote.rsi10,0,2)}" th:style="${quote.rsi10-quote.rsi5 gt 30} ? 'color:red;': ''"></td>
        <td th:text="${#numbers.formatDecimal(quote.kdDiff,0,2)}" th:style="${quote.kdDiff lt 20} ? 'color:red;': ''"></td>
        <td th:text="${quote.open}"></td>
        <td th:text="${quote.high}"></td>
        <td th:text="${quote.low}"></td>
        <td th:text="${quote.volume}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>